//====================  Nextflow/Container Config  ==========

manifest {
    name = "cnv" //"PDX_CNV"
    description = 'Pipeline for processing of PDX SNP Array samples to call CNVs'
    author = 'Michael Lloyd, Xing Yi Woo, Carolyn Paisie, Sai Lek, Brian Sanderson, Anuj Srivastava,  Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

params {
    // Configurable variable parameters specific to individual runs:
    celInput               = null // absolute path to input CEL.
    hapmap_dat             = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/hapmap.ncbi.nlm.nih.gov/' // directory containing hapmap data from NCBI
    hapmap_fm              = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/hapmap_female300_SNP6.txt' // file containing hapmap data for females
    hapmap_m               = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/hapmap_male300_SNP6.txt' // file containing hapmap data for males
    genoclust              = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/gw6.genocluster' // genotype clustering file
    snp6chip               = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/GenomeWideSNP_6.cdf' // file containing description of the probe sets on the chip
    snp6chip_birdseed_mod  = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/GenomeWideSNP_6.birdseed.models' // file containing birdseed models
    snp6chip_specsnps      = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/GenomeWideSNP_6.specialSNPs' // file containing chromosme X (non-pseudo-autosomal), chromosome Y, and mitochondrial SNPs
    hapmap_norm_target     = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/hapmap.quant-norm.normalization-target.txt' // file containing hapmap sample data used for normalization
    gw6_pfb_file           = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/affygw6.hg38.pfb' // file containing annotated marker positions
    SNPpos                 = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/SNPpos_Affy_na36_hg38.txt' // file containing annotated marker positions
    GC                     = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/GC_AffySNP6_na36_hg38.txt' // file containing GC% for annotated marker positions
    chr_arm                = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/GRCh38_chromosome_arm.txt' // file containing positions of chromosome arms
    exp_mart_genes         = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/CNV/mart_export_gene_chr1-Y.GRCh38ensembl84.20170420.txt' // file containing genes exported to PDX data mart database
    preserve_work          = "no"

}

