//====================  Nextflow/Container Config  ==========

manifest {
    name = "rnafusion" //"PDX_RNAFusion"
    description = 'Pipeline for processing of PDX RNASeq samples to call RNA Fusions, contains xenome step for processing PDX samples'
    author = 'Michael Lloyd, Sai Lek, Brian Sanderson Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

params {

    //Shared params
    extension='.fastq.gz'
    pattern="*.R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
    read_prep = 'reverse_stranded'//'forward_stranded' or 'non_stranded' 
    
    //Xenome
    ref_prefix='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/trans_human_GRCh38_84_NOD_based_on_mm10_k25'

}