//====================  Nextflow/Container Config  ==========

manifest {
    name = "rnaseq"
    description = 'Pipeline for processing of PDX RNASeq samples, contains xenome step for processing PDX samples; default is stranded.'
    author = 'Sai Lek, Brian Sanderson Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

params {

    //Shared params
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
    read_prep = 'stranded'//'non_stranded' 

    //Quality Stats params
    min_pct_hq_reads='0.0'

    //RSEM params
    seed_length = '25'
    rsem_aligner = 'bowtie2'

    ref_prefix='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/trans_human_GRCh38_84_NOD_based_on_mm10_k25'
    rsem_ref_prefix='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/Homo_sapiens.GRCh38.dna.toplevel_access_mod_chr1_22_X_Y_MT'
    hsa_accession='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/updated_hg38_unplaced'
    ref_fa='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/Homo_sapiens.GRCh38.dna.toplevel_access_mod_chr1_22_X_Y_MT.fa'
    ref_flat='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/refFlat.txt'
    ribo_intervals='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/interval_rRNA'
    probes='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/hg38_agilent_SureSelect_V4_pChrM_probes_genename_with_chr.bed'
    ctp_genes='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/359genes_b38_noheader_withNames_with_chr.bed'
    classifier_table='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/EBVlym_classifier_table_48.txt'
    filter_trim='/projects/weinstocklab/USERS/slek/tmp/cs/dev/elion/pipelines/bin/filter_trim.py'
    read_grp_det='/projects/omics_share/.pdx/pdx_resource_service/elion/pipelines/bin/read_group_from_fastq.py'
    cov_calc='/projects/omics_share/.pdx/pdx_resource_service/elion/pipelines/bin/coveragecalculator.py'
    lymph_class='/projects/omics_share/.pdx/pdx_resource_service/elion/pipelines/bin/lymphoma_classifier.py'
    gatk_form='/projects/omics_share/.pdx/pdx_resource_service/elion/pipelines/bin/gatk_formatter.sh'
    gene_name_norm='/projects/omics_share/.pdx/pdx_resource_service/elion/pipelines/bin/GeneName_and_Normalization_without_UCSC.pl'
    sum_mets='/projects/omics_share/.pdx/pdx_resource_service/elion/pipelines/bin/summary_QC_metrics.pl'
    
}
