//====================  Nextflow/Container Config  ==========

manifest {
    name = "rnaseq" //"PDX_RNASeq"
    description = 'Pipeline for processing of PDX RNASeq samples, contains xenome step for processing PDX samples; default is stranded.'
    author = 'Sai Lek, Brian Sanderson, Carolyn Paisie, Anuj Srivastava, Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

params {

    //Shared params
    extension='.fastq.gz'
    pattern="*{.,_,-}R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
    read_prep = 'reverse_stranded'//'forward_stranded' or 'non_stranded' 
    preserve_work = "yes"

    //Quality Stats params
    min_pct_hq_reads='0.0'

    //RSEM params
    seed_length = '25'
    rsem_aligner = 'bowtie2'
    rsem_ref_prefix='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/Homo_sapiens.GRCh38.dna.toplevel_access_mod_chr1_22_X_Y_MT'
    hsa_accession='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/updated_hg38_unplaced'

    //Xenome
    ref_prefix='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/trans_human_GRCh38_84_NOD_based_on_mm10_k25'

    //GATK, Picard
    ref_fa='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/Homo_sapiens.GRCh38.dna.toplevel_access_mod_chr1_22_X_Y_MT.fa'
    
    //Picard
    ref_flat='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/refFlat.txt'
    ribo_intervals='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/interval_rRNA'

    //GATK 
    probes='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/hg38_agilent_SureSelect_V4_pChrM_probes_genename_with_chr.bed'
    ctp_genes='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/359genes_b38_noheader_withNames_with_chr.bed'
    
    classifier_table='/pdx/pdx_resource_service/elion/refdata/RNA/RNA_Expression_Estimation/EBVlym_classifier_table_48.txt'
    
}
