//====================  Nextflow/Container Config  ==========

manifest {
    name = "wes" //"PDX_WholeExome"
    description = 'Pipeline for processing of PDX Whole Exome samples, contains xenome step for processing PDX samples.'
    author = 'Sai Lek, Brian Sanderson, Mike Lloyd, Carolyn Paisie, Anuj Srivastava, Rupesh Kesharwani, Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

params {

    extension='.fastq.gz'
    pattern="*{.,_,-}R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
    preserve_work = "no"
    
    // Reference fasta
    ref_fa = '/pdx_resource_service/elion/refdata/Exome/Homo_sapiens_assembly38.fasta'
    ref_fa_indices = '/pdx_resource_service/elion/refdata/Exome/hs38DH.fa'

    // Quality Stats params
    min_pct_hq_reads = '50'

    ref_prefix='/pdx_resource_service/elion/refdata/Exome/hg38_broad_NOD_based_on_mm10_k25'
    gold_std_indels='/pdx_resource_service/elion/refdata/Exome/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    known_indels='/pdx_resource_service/elion/refdata/Exome/Homo_sapiens_assembly38.known_indels.vcf.gz'
    
    dbsnp='/pdx_resource_service/elion/refdata/Exome/dbsnp_144.hg38.vcf.gz'
    
    hex_percentage='75'

    msisensor_model='/pdx_resource_service/elion/refdata/Exome/models_hg38'

    exac_ref='/pdx_resource_service/elion/etc/ExAC/ExAC.0.3.GRCh38_chr_added_bad_lift_over_removed_reorder_primary_only.vcf.gz'
    samp_ploidy='4'

    fa2bit='/pdx_resource_service/elion/refdata/Exome/Homo_sapiens_assembly38.fa.2bit'

    minDP='15'

    snpEff_config="/pdx_resource_service/elion/refdata/Exome/snpEff.config"
    snpEff_data='/pdx_resource_service/elion/refdata/Exome/data/hg38'
    hgvs_data='/pdx_resource_service/elion/refdata/Exome/data'
    ensembl_transcript='/pdx_resource_service/elion/refdata/Exome/ensemble_transcript_snpeff_list_v1.txt'
    dbNSFP='/pdx_resource_service/elion/refdata/Exome/dbNSFP3.2a.txt.gz'
    Cosmic_newer='/pdx_resource_service/elion/refdata/Exome/Sorted_Cosmicv80_Coding_Noncoding.vcf'
    Cosmic_older='/pdx_resource_service/elion/refdata/Exome/COSMICv75_Coding_NonCoding.vcf'
    rec_var='/pdx_resource_service/elion/refdata/Exome/recurring_variants'

    hex_genes='/pdx_resource_service/elion/refdata/Exome/hg38_agilent_SureSelect_V4_pChrM_probes_genename.bed'

    bins_ctpcoverage = ''

    // These parameters control the BED files used in the workflow, and should refer to the appropriate capture.
    // If capture_kit == "current" (default behavior) then the Agilent S31285117 BED files will be used, and if 
    // capture_kit == "legacy", then the hg38_agilent_SureSelect_V4 BED files will be set in the following code
    // block.
    capture_kit = "current"
    targets_gatk='/pdx_resource_service/elion/refdata/WholeExome/new_capture_WES/S31285117_MergedProbes_no_gene_names.bed'
    targets_picard='/pdx_resource_service/elion/refdata/WholeExome/new_capture_WES/S31285117_MergedProbes_no_gene_names_picard.bed'
    targets_exons_picard='/pdx_resource_service/elion/refdata/WholeExome/new_capture_WES/S31285117_MergedProbes_no_gene_names_picard.bed'
    bins_hexcoverage='/pdx_resource_service/elion/refdata/WholeExome/new_capture_WES/hg38_chrom_sizes.window.1000000_hex.coverage_Sorted_S31285117_MergedProbes_no_gene_names_Bed.bed'

    
}

if (params.capture_kit=="legacy") {
    params.targets_gatk='/pdx_resource_service/elion/refdata/WholeExome/old_capture_WES/hg38_agilent_SureSelect_V4.bed'
    params.targets_picard='/pdx_resource_service/elion/refdata/WholeExome/old_capture_WES/hg38_agilent_SureSelect_V4_picard.bed'
    params.targets_exons_picard='/pdx_resource_service/elion/refdata/WholeExome/old_capture_WES/hg38_agilent_SureSelect_V4_picard.bed'
    params.bins_hexcoverage='/pdx_resource_service/elion/refdata/WholeExome/old_capture_WES/hg38_chrom_sizes.window.1000000_hex.coverage_hg38_agilent_SureSelect_V4_picard_sorted_merged.bed'    
}
