//====================  Nextflow/Container Config  ==========

manifest {
    name = "wes" //"PDX_WholeExome"
    description = 'Pipeline for processing of PDX Whole Exome samples, contains xenome step for processing PDX samples.'
    author = 'Sai Lek, Brian Sanderson, Mike Lloyd, Carolyn Paisie, Anuj Srivastava, Rupesh Kesharwani, Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

params {

    extension='.fastq.gz'
    pattern="*{.,_,-}R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
    preserve_work = "yes"

    // Reference fasta
    ref_fa = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/Homo_sapiens_assembly38.fasta'
    ref_fa_indices = '/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/hs38DH.fa'

    // Quality Stats params
    min_pct_hq_reads = '0.0'

    ref_prefix='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/hg38_broad_NOD_based_on_mm10_k25'
    gold_std_indels='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    known_indels='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/Homo_sapiens_assembly38.known_indels.vcf.gz'
    targets_gatk='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/S31285117_MergedProbes_no_gene_names.bed'

    dbsnp='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/dbsnp_144.hg38.vcf.gz'
    
    targets_picard='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/S31285117_MergedProbes_no_gene_names_picard.bed'
    targets_exons_picard='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/S31285117_MergedProbes_no_gene_names_picard.bed'

    hex_percentage='75'

    msisensor_model='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/models_hg38'

    exac_ref='/projects/omics_share/.pdx/pdx_resource_service/elion/etc/ExAC/ExAC.0.3.GRCh38_chr_added_bad_lift_over_removed_reorder_primary_only.vcf.gz'
    samp_ploidy='4'

    fa2bit='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/Homo_sapiens_assembly38.fa.2bit'

    minDP='15'

    snpEff_config="/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/snpEff.config"
    snpEff_data='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/data/hg38'
    hgvs_data='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/data'
    ensembl_transcript='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/ensemble_transcript_snpeff_list_v1.txt'
    dbNSFP='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/dbNSFP3.2a.txt.gz'
    Cosmic_newer='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/Sorted_Cosmicv80_Coding_Noncoding.vcf'
    Cosmic_older='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/COSMICv75_Coding_NonCoding.vcf'
    rec_var='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/recurring_variants'

    bins_hexcoverage='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/WholeExome/hg38_chrom_sizes.window.1000000_hex.coverage_Sorted_Whole_Exome_Capture_Bed.bed'
    hex_genes='/projects/omics_share/.pdx/pdx_resource_service/elion/refdata/Exome/hg38_agilent_SureSelect_V4_pChrM_probes_genename.bed'

}
